<h2>{{FurnituresCtrl.furnitureType.getName()}}</h2>
<!-- furniturename, furnituredirector, price, available (checkbox) -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>Price</th>
      <th>Entry Date</th>
      <th>In Offer</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="furniture in FurnituresCtrl.furnitures">
      <td>
        <div class="form-group" ng-class="{'has-error': !FurnituresCtrl.validFurniturePrice($index)}">
          <input ng-model="furniture.price" id="furniturePrice{{$index}}" type="number" min="0" class="form-control" placeholder="Furniture price" />
        </div>
      </td>

      <td>
        <div class="form-group" ng-class="{'has-error': !FurnituresCtrl.validFurnitureEntryDate($index)}">
          <input ng-model="furniture.entryDate" id="furnitureEntryDate{{$index}}" type="text" class="form-control" placeholder="YYYY-MM-DD" />
        </div>
      </td>

      <td>
        <div class="checkbox text-center">
         <label>
           <input ng-model="furniture.inOffer" id="inOffer{{$index}}" type="checkbox" />
         </label>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div id="add-furnitures-buttons" class="pull-right">
  <button class="btn btn-default" ng-click="action='init'">Back</button>
  <button class="btn btn-primary" ng-click="FurnituresCtrl.popupResult()">Add furnitures</button>
</div>
